# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tox

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        include:
          - python: '3.9'
            toxenv: lint
          - python: '3.9'
            toxenv: checkdoc
          - python: '3.6'
            toxenv: py36
          - python: '3.7'
            toxenv: py37
          - python: '3.8'
            toxenv: py38
          - python: '3.9'
            toxenv: py39
          - python: '3.10'
            toxenv: py310


    steps:
      - uses: actions/checkout@v2

      - name: Setting up python ${{ matrix.python-versions }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
          architecture: x64

      - name: Install LibXML headers
        run: sudo apt install -y libxml2-dev libxslt-dev

      - name: Install tox
        run: pip install tox wheel

      - name: tox ${{ matrix.toxenv }}
        env:
          COVERALLS_PARALLEL: 'true'
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          FORCE_COLOR: yes
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TOXENV: ${{ matrix.toxenv }}
        run: tox


  finish:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
